<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/post.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CandidatesServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.CandidatesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidatesServlet</servlet-name>
        <url-pattern>/candidate.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.PhotoUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <url-pattern>/photoUpload.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CandidateDelete</servlet-name>
        <servlet-class>ru.work.dream.servlet.CandidateDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateDelete</servlet-name>
        <url-pattern>/candidateDelete.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auto.do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.work.dream.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.GreetingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/greet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CityServlet</servlet-name>
        <servlet-class>ru.work.dream.servlet.CityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CityServlet</servlet-name>
        <url-pattern>/city</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>ru.work.dream.filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>
